* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  background-color: rgb(0, 123, 255);
  margin: 1em 0;
}
ol,
ul {
  list-style: none;
  
}







.card {
  max-width: 90%;
  margin: 80px auto;
  padding: 40px;
  border-radius: 60px;
  background-color: #fff;
  
}

/* NAVIGATION BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .nav_links {
    gap: 50px;
    line-height: 3.3em;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-right: 3em;
    text-transform: uppercase;
    & :hover{
      color: #1b2845;
      text-shadow: .5px 1px #139bda;
     
    }
   
    li > a {
      text-decoration: none;
      color: #9c9c9c;
    }
  }
}
#nav_line{
  border-color: #d9d9d9;

}
 /* LOGO */

 .logo {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 123, 255);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  content: "G";
 }

h1 {
  flex: 1;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: 20px;
 
}

/* ------------------------------------- */

/* email & phone # in NAV  */

.contact_info {
  display: block;
  p {
    font-weight: 600;
    padding: 0;
    letter-spacing: 1.5px;
    line-height: 1.5;
  }
}

/* ------------------------------------- */

.profile_container{
  display: grid;

  grid-template-columns: 1fr 2fr; 
  grid-gap: 2em;
  height: 30em;
  margin: 3% 3%;
  padding: 3em 2em;
  justify-content: center;
}

.circle_container{
  display: inline-block;
}

.profile_circle{
  background-color: #F6F6F6;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  border: 30px solid #ffffff;
  box-shadow: 13px 14px 41px lightgray;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter:grayscale(100%);
    
  }
}

.profile_info{
 background-color: #F6F6F6;
margin: 2% 2%;
 padding-left: 5%;
 
}

.profile_info h2 {
  font-size: 3rem; 
  font-weight: bold;
  letter-spacing: 1.8px;
  padding-bottom: 5px;
}

.profile_info h4 {
  
  color: #9c9c9c;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1.4px;
}

.profile_info p {
  font-size: 1.5rem;
  width: 60%; 
  text-wrap: wrap; 
  line-height: 38px;
  letter-spacing: .7px;
  
}



 /* ------- end of first section -----------  */



.technologies {

 table{
  width: 100%;
  margin: auto;
  background-color: #f5f5f5;
  padding: 10px 20px;
  letter-spacing: 3px;
  font-size: 1.2rem;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin-bottom: 10px;
 }
 th{
  display: block;
  margin: 26px 20px;
 }
 
  h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  line-height: 25px;

  li {
   
    letter-spacing: 1.5px;
    line-height: 2.3;
  }
}


/* contact form */

.contact_form{
  width: 100%;
  margin: auto;
  background-color: #f5f5f5;
  padding: 10px 14px;
  letter-spacing: 3px;
  font-size: 1.2rem;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin-bottom: 10px;
  display: flex;
    label{
      display: block;
      margin: 10px;
    }
    button{
      margin: 1em;
      padding: 10px 10px;
      border-radius: 20px;
      background-color: #d0effd;
        &:hover{
          background-color:  rgba(27, 40, 69, .2);
          cursor: pointer;
          border-radius: 20px;
          margin: 2em;
         
      }
    }
    textarea,input{
      width: 100%;
      padding: 15px;
      border: 1px solid #139bda;
    }
}


.hamburgerMenu{
  display: none;
}


/* Footer */

footer {
  width: 80%;
  padding: 20px 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #f5f5f5;
  font-size: 1.2rem;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 20px 0;
  &:hover {
    color: #648767;
    cursor: pointer;
  }
 
 

    a {
      padding-bottom: 20%;
    }
}


/****** MEDIA QUERIES *******/

/* TABLET @ 768  */

@media screen and (min-width: 760px){

 .card{
  width: 85vw;
  padding: 1em 1em;
 
 }

  nav{
    display: block;
    width: 100%;
    
    
  }
  .logo {
    display: flex;
    width: 6vw;
    height: 6vw;
    font-size: 1.5rem;
   }

  nav > h1{
    position: absolute;
    transform: translate(3em, -1.2em);
    font-size: 2rem;

   }

  .nav_links{
    display: flex;
    justify-content: center;
    margin-top: 1em;
   

  }
  .contact_info{
  display: flex;
  justify-content: space-evenly;
  transform: translate(-3em, 0em);
  
  }
}

.profile_container{
  background-color: #F6F6F6;
  display: flex;
  width: 98%;
  margin: 10px 10px;
  border-radius: 30px;
}

.profile_circle {
  width: 25vw;
  height: 25vw;
  border: 20px solid #ffffff;
  box-shadow: 0px 8px 21px lightgray;
}

.profile_info > h2 {
font-size: large;
display: none;
}

.profile_info > h4 {
  font-size: large;
  padding-top: 1em;
  }
.profile_info p {
    width: 100%;
    font-size: 1.1rem; 
    text-wrap: wrap; 
    line-height: 30px;
    letter-spacing: .9px;
    margin-top: 28px;
    padding: 0 5px;
  
}

.technologies table{

  width: 100%;
  font-size: 1rem;
}

.contact_form{
  justify-content:  center;
  font-size: medium;
  height: 70%;
}
.contact_form button {
  transform: translate(7em, 8px);
}

footer{

  font-size: medium;
  width: 100%;
}

footer h4{
  margin-bottom: 10px;
}

.creditInspo{
  display: flex;
  font-size: x-small;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 800;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
 

}

.creditInspo h5 {
  margin: 0px 5px;
}

.creditInspo a {
  display: flex;
  text-decoration: none;
  color: red;
}
.hamburgerMenu{
  display: none;
}


/* mobile  media query  */

@media screen and (max-width: 767px) {
 
 .card {
  width: 75%;
  height: auto;
 } 

nav{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav_links{
margin: auto;
line-height: 2.4em;

}

nav h1{
  display: inline-flex;
  align-self: center;
  margin: 0;
  padding-bottom: 20px;
  width: max-content;
}

.logo {
  margin-bottom: 1em;
}





.contact_info {
  display: flex;
  flex-direction: column-reverse;
  text-transform: uppercase;
  font-size: .6rem;
  padding-bottom: 3px;
  justify-content: center;
  align-items: center;
}

.contact_info > p {
 margin-bottom: 15px;
}


.profile_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
 
 
}


.profile_circle {
  margin: 0 auto;
  justify-content: center;
  justify-self: center;
  width: 15vw;
  height: 15vw;
  border: 7px solid #ffffff;
  box-shadow: 0px 4px 16px lightgray;
}

.profile_info h4{
  display: inline-flex;
  font-size: 10px;
  margin-top: 30px;
}

.profile_info p {
  text-align: center;
  font-size: .8rem;
  line-height: 22px;

}


.technologies {
  display: flex;
  flex-direction: column;
}

.technologies th,
.technologies td {
  padding: 2px 7px; 
 
}

.technologies tr { /* Style each table row */
  display: flex; /* Make each row a flex container */
  flex-direction: column; /* Stack table cells vertically */
  width: 100%; /* Ensure full width on each row */
  border-bottom: 2px dashed lightgray; /* Optional: Add a separator line */
  padding: 10px 0; /* Add some padding */
}

.technologies ul {
  font-size: 10px;
}

.contact_form {
  font-size: 14px;
}

.contact_form button {
  position: relative;
  left: -40px;
}

footer{
  font-size: 14px;
}

}









